.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Modal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.ModalContent {
  width: 95%;
  max-width: 800px;
  height: 85%;
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  align-items: stretch;
  outline: none;
}

.Accept {
  width: 100%;
  height: 60px;
}

.Reject {
  width: 100%;
  height: 60px;
}

.Listing {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
  
}

.CloseIcon {
  position: absolute;
  top:10px;
  right:10px;
}

.WatchInfo {
  height: 100%;
  width: 60%;
  display: inline-block;
  position: relative;
}

.Details {
  position: absolute;
  bottom: 0px;
}

.WatchImage {
  float: right;
  height: 75px;
  border-radius: 25%;
}

.SoldExplanation {
  width: 80%;
  margin: 8% 0 0 10%
}

.MarginTop {
  margin-top: 10px;
}

.MarginBottom {
  margin-bottom: 10px;
}

.MarginBoth {
  margin-top: 10px;
  margin-bottom: 10px;
}

.LeftSide {
  width: 100%;
}

@media screen and (min-width: 900px) { 
  /* This only needs to apply when screen large enough to display halves of modal side by side */
  .Modal {
    max-height: 550px
  }
}